## R files to ignore
##
.Rhistory

## LaTeX files to ignore
##
*.aux
*.log
*.synctex.gz

## RStudio files to ignore
##
.Rproj*
*.Rproj
.Rapp.history

## Stan files to ignore
##
*.rda

## Directories and files from Margaret to ignore
##
climate-correlations/*
climate-response-functions/*
plots.zip
plots/*.pdf
*.pptx
*.docx

## Miscellaneous other files to ignore
##
*.Rsave
*.pdf
*~
*.png

## Ignore document directories
##
Documents/*


.Rproj.user
dbh-process-dataME.R
gi-plus-dbh-correlated.stan
gi-plus-dbh-full.R
gi-plus-dbh-multi-corr-wsize-full.stan
gi-plus-dbh-multi-correlated.stan
gi-plus-dbh-multi-correlated-with-size.stan
gi-plus-dbhME.R
MCNallDBH.csv
MCNallDBH.xlsx
MCNplotCovariates.csv
MCNallDBH2.csv
mcn_sample_NAD27.csv
MCN_plot_covariate_dataNEW.csv
