## R files to ignore
##
.Rhistory

## RStudio files to ignore
##
.Rproj*
*.Rproj
.Rapp.history

## Stan files to ignore
##
*.rda

## Directories and files from Margaret to ignore
##
climate-correlations/*
climate-response-functions/*
plots.zip
plots/*.pdf
*.pptx

## Miscellaneous other files to ignore
##
*.Rsave
*.pdf
*~
*.png

## Ignore document directories
##
Documents/*


.Rproj.user
